@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gowun Batang';
  src: url('./fonts/GowunBatang-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gowun Batang';
  src: url('./fonts/GowunBatang-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
